body {
    height: 100vh;
    background: red;
    padding: 0;
    margin: 0;
}

nav.navbar {
    margin-bottom: 0;
}

#main {
    height: calc(100% - 51px);
    width: 100%;
}

#place {
    height: 100%;
    width: 100%;
    background: #AEA;
}

.modal {
    display: none;
}

#place-actions {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    padding: 1.2em;
    tex-align: center;
    box-sizing: border-box;
    width: 100%;
    .btn {
	padding: 1.2em;
    }
}